body {
    background: url("../../images/rza/wallpaper.png") no-repeat fixed;
}

a.nav-link, a.nav-item {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-style: italic;
}

div#section {
    position: fixed;
    left: 50%;
}

ul.section-box {
    background: rgba(82, 61, 67, 0.5);
    position: fixed;
    left: 0;
    padding: 0 100px 0 100px;
    border-radius: 0 0 75px 0;
}

ul.test-box p {
    margin-left: 5px;
    padding-top: 15px;
    text-align: center;
    color: #02ff00;
}

ul.test-box {
    height: 600px;
    overflow: auto;
    display: none;
    background: rgba(84, 64, 69, 0.51);
    position: fixed;
    width: 100%;
    font-style: italic;
    left: 0;
    top: 150px;
    padding: 50px 200px 50px 200px;
    text-align: center;
}

ul.test-box a {
    padding: 20px 0 20px 0;
    font-size: 1.5em;
    border-radius: 30px;
}

div.test-content {
    color: white;
}

.nav li a:hover, .nav li a:focus {
    background-color: rgba(82, 61, 67, 0.5);
}

.answer {
    display: none;
}

.test-name {
    background: rgba(12, 18, 35, 0.78);
    color: #ffffff;
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 100px;
    padding: 5px 60px 15px 15px;
    border-style: solid;
    border-bottom: none;
    border-radius: 0px 55px 0 0;
    border-color: rgb(193, 193, 193);
    border-width: 3px;
}

.test-box-content {
    font-style: italic;
    background: rgba(12, 18, 35, 0.78);
    margin-top: -3px;
    padding: 10px;
    padding-top: 25px;
    padding-left: 50px;
    border-style: solid;
    border-radius: 0 0 0 55px;
    border-color: rgb(193, 193, 193);
    border-width: 3px;
    border-top: none;
    height: 600px;
    overflow: auto;
}

p.question:hover, p.question:focus {
    background-color: rgba(12, 12, 23, 0.6);
    cursor: pointer;
}

p.question {
    margin: 0 0 10px;
    padding: 1px 10px;
    display: inline-block;
    border-radius: 10px;
}

.close {
    margin-top: -15px;
}

.answer p {
    padding-top: 5px;
    color: rgb(251, 195, 121);
}

.copyright {
    position: fixed;
    left: auto;
    top: 770px;
    left: 50px;
    color: white;

}