body {
    background: url("../../images/rza/wallpaper.png") no-repeat fixed;
}

a.nav-link, a.nav-item{
    color: rgb(255, 255, 255);
	font-size: 1.2em;
	font-style: italic;
}

div#section {
	position: fixed;
	left: 50%;
}

ul.section-box {
    background: rgba(82, 61, 67, 0.5);
    position: fixed;
    left: 0;
    padding: 0 100px 0 100px;
    border-radius: 0 0 75px 0;	
}
ul.test-box p {
    margin-left: 5px;
    padding-top: 15px;
    text-align: center;
    color: #02ff00;
}

ul.test-box {
	display: none;
    background: rgba(84, 64, 69, 0.51);
    position: fixed;
    width: 100%;
    font-style: italic;
    left: 0;
    top: 150px;
	padding: 50px 200px 50px 200px;
    text-align: center;
}

ul.test-box a{
	padding: 20px 0 20px 0;
	font-size: 1.5em;
	border-radius: 30px;
}

div.test-content {
    color: white;
}

.nav li a:hover, .nav li a:focus {
    background-color: rgba(82, 61, 67, 0.5);
}

.answer, .img {
	display: none;
}

.test-box-content {
	background: black;
	margin-top: 50px;
	padding: 10px;
}
